doctype
html(lang="fr-FR", class="no-js", prefix="og: http://ogp.me/ns#")

	head
	
		// Styles 
		link(rel='stylesheet' href='css/style.css')
	
		// Metas 
		meta(charset='utf-8')
		meta(name='viewport' content='initial-scale=1.0')
	
		// Other links 
		link(rel='shortcut icon' type='image/x-icon' href='img/icons/favicon.jpg')
		
		// Opengraph & SEO configuration 
		block seo
		
		
	body
		
		//  Header 
		header(role="banner")
			.container
				// Skip links 
				ul
					li: a(href='#top-navigation' title="" class="skip-link") Go to navigation
					li: a(href='#main-content' title="" class="skip-link") Go to content
			
				// Main navigation 
				nav(id="top-navigation" role="navigation")
					ul
						li: a(href="#" title="" class="top-link") Liens 1
						li: a(href="#" title="" class="top-link") Liens 2
		
		// Page content 
		block content
	
		// Footer 
		footer(role="contentinfo")
			.container

		// Remove the 'no-js' class to improve UX with CSS when Javascript is disabled 
		script.
			document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
